@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 33% 98%;
    --foreground: 24 12% 24%;

    --card: 0 0% 100%;
    --card-foreground: 24 12% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 12% 24%;

    --primary: 25 48% 38%;
    --primary-foreground: 30 33% 98%;

    --secondary: 22 16% 90%;
    --secondary-foreground: 24 12% 24%;

    --muted: 22 16% 90%;
    --muted-foreground: 25 8% 50%;

    --accent: 30 40% 85%;
    --accent-foreground: 25 48% 38%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 33% 98%;

    --border: 20 16% 85%;
    --input: 20 16% 85%;
    --ring: 25 48% 38%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24 12% 24%;
    --foreground: 30 33% 98%;

    --card: 24 12% 24%;
    --card-foreground: 30 33% 98%;

    --popover: 24 12% 24%;
    --popover-foreground: 30 33% 98%;

    --primary: 25 48% 38%;
    --primary-foreground: 30 33% 98%;

    --secondary: 22 14% 32%;
    --secondary-foreground: 30 33% 98%;

    --muted: 22 14% 32%;
    --muted-foreground: 24 8% 75%;

    --accent: 25 32% 45%;
    --accent-foreground: 30 33% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 33% 98%;

    --border: 22 14% 32%;
    --input: 22 14% 32%;
    --ring: 25 48% 38%;

    --radius: 0.5rem;
  }
}